Find the markdown blocks that say interaction required! The notebook should take care of the rest!

# Import libs

In [1]:
import sys
import os
sys.path.append('..')
from eflow.foundation import DataPipeline,DataFrameTypes
from eflow.model_analysis import ClassificationAnalysis
from eflow.utils.modeling_utils import optimize_model_grid
from eflow.utils.eflow_utils import get_type_holder_from_pipeline, remove_unconnected_pipeline_segments
from eflow.utils.pandas_utils import data_types_table
from eflow.utils.sys_utils import get_all_directories_from_path
from eflow.utils.sys_utils import load_pickle_object

import pandas as pd
import numpy as np
import scikitplot as skplt
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import SCORERS
import copy
import pickle
from IPython.display import clear_output

In [2]:
# # Additional add ons
# !pip install pandasgui
# !pip install pivottablejs
# clear_output()

In [3]:
%matplotlib notebook
%matplotlib inline

## Declare Project Variables

### Interaction required

In [4]:
dataset_path = "Datasets/titanic_train.csv"

# -----
dataset_name = "Titanic Data"
pipeline_name = "Titanic Pipeline"

# -----


# -----
notebook_mode = True

## Clean out segment space

In [5]:
remove_unconnected_pipeline_segments()

# Import dataset

In [6]:
df = pd.read_csv(dataset_path)
shape_df = pd.DataFrame.from_dict({'Rows': [df.shape[0]],
                                   'Columns': [df.shape[1]]})
display(shape_df)
display(df.head(30))

   Rows  Columns
0   891       12

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S

In [7]:
data_types_table(df)

            Data Types
Features
Age            float64
Fare           float64
PassengerId      int64
Survived         int64
Pclass           int64
SibSp            int64
Parch            int64
Name            object
Sex             object
Ticket          object
Cabin           object
Embarked        object

# Loading and init df_features

In [8]:
# Option: 1
# df_features = get_type_holder_from_pipeline(pipeline_name)

In [9]:
# Option: 2
df_features = DataFrameTypes()
df_features.init_on_json_file(os.getcwd() + f"/eflow Data/{dataset_name}/df_features.json")

In [10]:
df_features.display_features(display_dataframes=True,
                             notebook_mode=notebook_mode)

         Data Types
Features
Embarked     string
Pclass       string
Cabin        string
Sex          string
Survived       bool
SibSp       integer
Parch       integer
Fare          float
Age           float

# Any extra processing before eflow DataPipeline

# Setup pipeline structure

### Interaction Required

In [11]:
main_pipe = DataPipeline(pipeline_name,
                         df,
                         df_features)

The file 'root_pipeline.json' exist!
Now configuring object with proper pipeline segments...
Removing the feature: "PassengerId"
Removing the feature: "Ticket"
Removing the feature: "Name"

In [12]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [15]:
df["Sex"].str[0:3]

In [ ]:
main_pipe.perform_pipeline(df,
                           df_features)

In [ ]:
df

# Seperate out data into train and test sets

In [ ]:
X = df.drop(columns=df_features.target_feature()).values
y = df[df_features.target_feature()].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=517, stratify=y,
)
del X
del y

In [ ]:
feature_order = list(df.columns)

In [ ]:
del df

In [ ]:
# n_estimators=100, criterion='gini', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False, class_weight=None, ccp_alpha=0.0, max_samples=None

# Fit Models and view results

In [ ]:
sorted(SCORERS.keys())

In [ ]:
# # Find best parameters for model
# param_grid = {
#     "n_estimators": np.arange(100, 500, 50),
#     "criterion": ["entropy", "gini"],
#     "max_depth": [4,5,6,7,]
# }

# model, best_params = optimize_model_grid(
#     model=RandomForestClassifier(),
#     X_train=X_train,
#     y_train=y_train,
#     param_grid=param_grid,
#     scoring="f1_micro"
# )

In [ ]:
model = load_pickle_object("/Users/ericcacciavillani/Desktop/Coding/Python_Files/Artificial_Intelligence/Data Mining/eFlow/testing/eflow Data/Titanic Data/Classification Analysis/Target Feature: Survived/RandomForestClassifier/RandomForestClassifier.pkl")

In [ ]:
model_name = repr(model).split("(")[0]
model_name

In [ ]:
model_analysis = ClassificationAnalysis(dataset_name=dataset_name,
                                        model=model,
                                        model_name=model_name,
                                        feature_order=feature_order,
                                        target_feature=df_features.target_feature(),
                                        pred_funcs_dict={"Probabilities function":model.predict_proba,
                                                         "Predict function":model.predict},
                                        sample_data=X_train[0],
                                        notebook_mode=notebook_mode,
                                        df_features=df_features)

In [ ]:
model_analysis.perform_analysis(X=X_train,
                                y=y_train,
                                dataset_name="Train Data",
                                thresholds_matrix=[[.12,.04,]],
                                classification_error_analysis=True,
                                classification_correct_analysis=True)

In [ ]:
for pred_name in model_analysis.get_predictions_names():
    print(f"Prediction name: {pred_name}")

    for threshold_dir in get_all_directories_from_path(model_analysis.folder_path + f"Train Data/{pred_name}/"):
        prediction_path = model_analysis.folder_path + f"Train Data/{pred_name}/"
        if "Thresholds" in threshold_dir:
            prediction_path += f"{threshold_dir}/"
            
        for answered_dir in get_all_directories_from_path(prediction_path):
            for sub_dir in get_all_directories_from_path(prediction_path + f"{answered_dir}/"):
                print(prediction_path + f"{answered_dir}/{sub_dir}/")
                infile = open(prediction_path + f"{answered_dir}/{sub_dir}/Train Data/_Extras/Statistics/Stat methods of features dataframes.pkl",'rb')
                stat_methods_dict = pickle.load(infile)
                infile.close()

                for stats_method in stat_methods_dict.keys():
                    print(stats_method)
                    display(stat_methods_dict[stats_method].round(6))
                    all_feature_relationship = set()
                    for feature_relationship in stat_methods_dict[stats_method][:10].index.to_list():
                        for feature in feature_relationship.split(" compared to "):
                            all_feature_relationship.add(feature)
                    print(all_feature_relationship)
                    print("-----" * 12 + "\n\n")

                del stat_methods_dict

In [ ]:
model_analysis.perform_analysis(X=X_test,
                                y=y_test,
                                dataset_name="Test Data",
                                thresholds_matrix=[[.0,.0],
                                                   [.12,.04]],
                                classification_error_analysis=True,
                                classification_correct_analysis=True)

In [ ]:
for pred_name in model_analysis.get_predictions_names():
    print(f"Prediction name: {pred_name}")

    for threshold_dir in get_all_directories_from_path(model_analysis.folder_path + f"Test Data/{pred_name}/"):
        prediction_path = model_analysis.folder_path + f"Test Data/{pred_name}/"
        if "Thresholds" in threshold_dir:
            prediction_path += f"{threshold_dir}/"
            
        for answered_dir in get_all_directories_from_path(prediction_path):
            for sub_dir in get_all_directories_from_path(prediction_path + f"{answered_dir}/"):
                infile = open(prediction_path + f"{answered_dir}/{sub_dir}/Test Data/_Extras/Statistics/Stat methods of features dataframes.pkl",'rb')
                stat_methods_dict = pickle.load(infile)
                infile.close()

                for stats_method in stat_methods_dict.keys():
                    print(stats_method)
                    display(stat_methods_dict[stats_method].round(6))
                    all_feature_relationship = set()
                    for feature_relationship in stat_methods_dict[stats_method][:10].index.to_list():
                        for feature in feature_relationship.split(" compared to "):
                            all_feature_relationship.add(feature)
                    print("-----" * 12 + "\n\n")

                del stat_methods_dict