# Import libs

In [1]:
import pandas as pd
import numpy as np 
import scikitplot as skplt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from IPython.display import clear_output
from IPython.core.getipython import get_ipython
import ipython_blocking
from pivottablejs import pivot_ui
import copy
import sys

sys.path.append('..')
from eflow import DataFrameTypes
from eflow.data_analysis import FeatureAnalysis
from eflow.pipeline_segments import DataCleaner
from eflow.data_analysis import NullAnalysis
from eflow.model_analysis import ClassificationAnalysis
from eflow.utils.pandas_utils import data_types_table, value_counts_table, suggest_removal_features 
from eflow.utils.modeling_utils import optimize_model_grid

In [2]:
# # Additional add ons
# !pip install pandasgui
# !pip install pivottablejs
# clear_output()

In [3]:
%matplotlib notebook
%matplotlib inline

## Juypter notebook generating cells

### Important Note: Replace if set to True will remove all the contents of whatever cell it is called in. But it can be undone with a simple CMD + Z. ðŸ™‚

In [4]:
# Author: http://tinyurl.com/y6mghyzl
def create_new_cell(contents,
                    replace=False):
    shell = get_ipython()
    shell.set_next_input(contents,
                         replace=replace)

def __format_list_to_string(list_name,
                            list_contents):
    output_str = f"{list_name} = ["
    escape_seq_count = 0
    final_index = len(list_contents) - 1
    req_spacing = len(output_str)

    for i,element in enumerate(list_contents):
        if i == final_index:
            output_str += f'\"{element}\"'
        else:
            output_str += f'\"{element}\",'
        
        if len(output_str.split("\n")[escape_seq_count]) > 78:
            output_str += "\n"
            output_str += (" " * req_spacing)
            escape_seq_count += 1
    output_str += "]"
    return output_str
        
# Jupyter block filled with removal features.
def create_new_cell_with_removal_features(df,
                                          replace=False):
    """
    df:
        Pandas DataFrame object
    Returns/Desc:
        Creates a new cell block in the same block
    """
    
    # Get suggestions for removal
    cell_content = __format_list_to_string("removal_features",
                                           suggest_removal_features(df))
    # Add a sort of calling card of where the 
    cell_content = f"# create_new_cell_with_removal_features(df,replace={replace})\n" + cell_content
    create_new_cell(cell_content,
                    replace=replace)

## Declare Project Variables

#### Interaction required

In [5]:
dataset_path = "Datasets/titanic_train.csv"
pre_processing_name = "Pre processing data"
post_processing_name = "Post processing"
notebook_mode = True

# Import dataset

In [6]:
df = pd.read_csv(dataset_path)
display(df.shape)
display(df.head(30))

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S

In [7]:
data_types_table(df)

            Data Types
Features
Age            float64
Fare           float64
PassengerId      int64
Survived         int64
Pclass           int64
SibSp            int64
Parch            int64
Name            object
Sex             object
Ticket          object
Cabin           object
Embarked        object

In [ ]:
PassengerIdTicketName

In [ ]:
PassengerIdTicketName

In [ ]:
TicketNamePassengerId

## Interaction tools for quick analysis dataframes

## Skim through Value Counts

In [10]:
for feature_name in df.columns:
    print(f'******* Feature: {feature_name} *******')
    print(f'Type: {df[feature_name].dtype}')
    display(value_counts_table(df,
                               feature_name))
    print("-------" * 4 + "\n\n")

******* Feature: PassengerId *******
Type: int64

               Counts Percantage
Unique Values
891                 1    0.1122%
293                 1    0.1122%
304                 1    0.1122%
303                 1    0.1122%
302                 1    0.1122%
...               ...        ...
591                 1    0.1122%
590                 1    0.1122%
589                 1    0.1122%
588                 1    0.1122%
1                   1    0.1122%

[891 rows x 2 columns]

----------------------------


******* Feature: Survived *******
Type: int64

               Counts Percantage
Unique Values
0                 549   61.6162%
1                 342   38.3838%

----------------------------


******* Feature: Pclass *******
Type: int64

               Counts Percantage
Unique Values
3                 491   55.1066%
1                 216   24.2424%
2                 184   20.6510%

----------------------------


******* Feature: Name *******
Type: object

                                    Counts Percantage
Unique Values
Gheorgheff, Mr. Stanio                   1    0.1122%
Lefebre, Miss. Ida                       1    0.1122%
Minahan, Miss. Daisy E                   1    0.1122%
Karaic, Mr. Milan                        1    0.1122%
Andersson, Miss. Ebba Iris Alfrida       1    0.1122%
...                                    ...        ...
Peter, Miss. Anna                        1    0.1122%
Honkanen, Miss. Eliina                   1    0.1122%
Carrau, Mr. Francisco M                  1    0.1122%
Radeff, Mr. Alexander                    1    0.1122%
Gaskell, Mr. Alfred                      1    0.1122%

[891 rows x 2 columns]

----------------------------


******* Feature: Sex *******
Type: object

               Counts Percantage
Unique Values
male              577   64.7587%
female            314   35.2413%

----------------------------


******* Feature: Age *******
Type: float64

               Counts Percantage
Unique Values
24.00              30    3.3670%
22.00              27    3.0303%
18.00              26    2.9181%
19.00              25    2.8058%
30.00              25    2.8058%
...               ...        ...
55.50               1    0.1122%
70.50               1    0.1122%
66.00               1    0.1122%
23.50               1    0.1122%
0.42                1    0.1122%

[88 rows x 2 columns]

----------------------------


******* Feature: SibSp *******
Type: int64

               Counts Percantage
Unique Values
0                 608   68.2379%
1                 209   23.4568%
2                  28    3.1425%
4                  18    2.0202%
3                  16    1.7957%
8                   7    0.7856%
5                   5    0.5612%

----------------------------


******* Feature: Parch *******
Type: int64

               Counts Percantage
Unique Values
0                 678   76.0943%
1                 118   13.2435%
2                  80    8.9787%
5                   5    0.5612%
3                   5    0.5612%
4                   4    0.4489%
6                   1    0.1122%

----------------------------


******* Feature: Ticket *******
Type: object

               Counts Percantage
Unique Values
347082              7    0.7856%
1601                7    0.7856%
CA. 2343            7    0.7856%
CA 2144             6    0.6734%
347088              6    0.6734%
...               ...        ...
16988               1    0.1122%
364846              1    0.1122%
335677              1    0.1122%
349216              1    0.1122%
244358              1    0.1122%

[681 rows x 2 columns]

----------------------------


******* Feature: Fare *******
Type: float64

               Counts Percantage
Unique Values
8.0500             43    4.8260%
13.0000            42    4.7138%
7.8958             38    4.2649%
7.7500             34    3.8159%
26.0000            31    3.4792%
...               ...        ...
8.4583              1    0.1122%
9.8375              1    0.1122%
8.3625              1    0.1122%
14.1083             1    0.1122%
17.4000             1    0.1122%

[248 rows x 2 columns]

----------------------------


******* Feature: Cabin *******
Type: object

               Counts Percantage
Unique Values
G6                  4    0.4489%
C23 C25 C27         4    0.4489%
B96 B98             4    0.4489%
D                   3    0.3367%
F33                 3    0.3367%
...               ...        ...
E38                 1    0.1122%
D7                  1    0.1122%
D19                 1    0.1122%
B3                  1    0.1122%
A5                  1    0.1122%

[147 rows x 2 columns]

----------------------------


******* Feature: Embarked *******
Type: object

               Counts Percantage
Unique Values
S                 644   72.2783%
C                 168   18.8552%
Q                  77    8.6420%

----------------------------

# Mark target feature; set to None if not needed

### Interaction required for supervised learning problems

In [11]:
target_feature = "Survived"

In [12]:
try:
    if target_feature:
        df[target_feature]
    else:
        print("Happy clustering! : )")
except KeyError:
    raise KeyError(f"The target feature \'{target_feature}\' was not found in the dataframe!"
                   + " Please select a valid feature from the dataframe")

In [9]:
# # Great interface; pauses the program; comment on/off at free will
# from pandasgui import show as qt_display
# qt_display(df)
# %matplotlib inline

### Interaction required

#### Note: When starting the project uncomment the function to get suggestions and then run the cell again

In [13]:
# create_new_cell_with_removal_features(df,replace=True)
removal_features = ["Name","Ticket","PassengerId"]

In [19]:
# w = widgets.SelectMultiple(
#     options=['Apples', 'Oranges', 'Pears'],
#     value=['Oranges'],
#     #rows=10,
#     description='Fruits',
#     disabled=False
# )
# del w

## Remove Un-Wanted Columns

### Explore the data

### Interaction required

### Any features that have to many nulls/we can't or shouldn't perform any special logic to determine the closest or actual value

In [17]:
remove_null_features = ["Cabin"]

In [18]:
df.drop(columns=remove_null_features,
        inplace=True)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked   Date_test
0         0       3    male  22.0      1      0   7.2500        S  2019-01-02
1         1       1  female  38.0      1      0  71.2833        C  2019-01-02
2         1       3  female  26.0      0      0   7.9250        S  2019-01-02
3         1       1  female  35.0      1      0  53.1000        S  2019-01-02
4         0       3    male  35.0      0      0   8.0500        S  2019-01-02

In [8]:
pivot_ui(df,
         outfile_path='Piviot_Table_JS.html')

## Basic Feature manipulation

### Change cabin column to have the level on the ship

In [20]:
df["Sex"] = df["Sex"] == "male"

KeyError: 'Cabin'

## Attempt to change/assert feature data types for analysis and cleaning

### Look at data types

In [21]:
data_types_table(df)

          Data Types
Features
Sex             bool
Age          float64
Fare         float64
Survived       int64
Pclass         int64
SibSp          int64
Parch          int64
Embarked      object
Date_test     object

### Make given data type changes

In [22]:
import numpy as np
convert_to_bool = []
convert_to_categorical = []
df_features = DataFrameTypes(df,
                             ignore_nulls=True,
                             display_init=False)


def __bool_check(feature_values):
    feature_could_be_bool = False
    
    if len(feature_values) == 2:
        return True
    else:
        return False

def __categorical_check(feature_name,
                        feature_values):
    # Categorical check
    last_val = None
    categorical_flag = True
    
    # Also have to account for categ
    if df_features.get_string_features():
        return categorical_flag
    
    for val in feature_values:
        if not last_val:
            last_val = val
            continue
        if np.abs(val - last_val) != 1:
            categorical_flag = False
            break
        else:
            last_val = val
    return categorical_flag

def __numeric_check(feature_name,
                    feature_values):
    pass

features_flag_types = dict()
for feature_name in df.columns:
    feature_values = set(df[feature_name].dropna())
    flag_type_results = dict()
    
    if str(df[feature_name].dtype) == "bool":
        continue
    
    if feature_name == "Pclass":
        print(feature_values)
    
    # Bool check
    flag_type_results["Bool"] = __bool_check(feature_values)
    flag_type_results["Categorical"] = __categorical_check(feature_name,
                                                           feature_values)
    
#     float_count = 0
#     integer_count = 0
#     string_count = 0
    
#     print(feature_name)
#     for entry in feature_values:
#         entry = str(entry)
#         print(entry)
    features_flag_types[feature_name] = flag_type_results
features_flag_types
a = pd.DataFrame.from_dict(features_flag_types, orient='index')
a.index.rename("Features",inplace=True)

print("Not displaying all features; just those that probably need changing.")
display(a)
del a

{1, 2, 3}
Not displaying all features; just those that probably need changing.

            Bool  Categorical
Features
Survived    True         True
Pclass     False         True
Age        False         True
SibSp      False         True
Parch      False         True
Fare       False         True
Embarked   False         True
Date_test  False         True

In [24]:
df["Pclass"] = df["Pclass"].astype('category')

### Final look at data types

## Set up DataFrameTypes

In [25]:
df_features = DataFrameTypes(df,
                             ignore_nulls=True,
                             display_init=True)

In [26]:
str(df["Embarked"].dtype) == "object"

True

### Perform quick analysis

In [27]:
feature_analysis = FeatureAnalysis(project_sub_dir=project_sub_dir)
feature_analysis.perform_analysis(df,
                                  df_features,
                                  dataset_name="All Data")
raise ValueError

NameError: name 'project_sub_dir' is not defined

## Data Cleaning

In [ ]:
# from impyute.imputation.cs import mice

# a = df["Age"].tolist()
# # start the MICE training
# imputed_training=mice(df.values)

In [ ]:
# import datawig

# df_train, df_test = datawig.utils.random_split(df)

# #Initialize a SimpleImputer model
# imputer = datawig.SimpleImputer(
#     input_columns=['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Cabin','Embarked'], # column(s) containing information about the column we want to impute
#     output_column= 'Age', # the column we'd like to impute values for
#     output_path = 'imputer_model' # stores model data and metrics
#     )

# #Fit an imputer model on the train data
# imputer.fit(train_df=df, num_epochs=200)

In [ ]:
# imputed_training=mice(df[df_features.get_numerical_features()].values)

In [ ]:
import random

test = df.drop(columns=["Date_test", "Embarked"]).dropna()

test["Sex"] = df["Sex"] == "male"
test[target_column] = [random.randint(0, 2) for _ in range(0,test.shape[0])]
print(len(test[target_column]))

y = test[target_column].values
X = test.values

print(X.shape)
print(y.shape)


df_features = DataFrameTypes(test,
                             target_column=target_column,
                             ignore_nulls=True) 
df_features.get_all_features()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=517, stratify=y,
)

In [ ]:
display(set(y_train))
set(y_test)

In [ ]:
# Find best parameters for model
param_grid = {
    "max_depth": list(range(2, 3)),
    "min_samples_leaf": list(range(80, 130, 5)),
    "criterion": ["gini", "entropy"],
#     "n_splits": [20, 30]
}

model, best_params = optimize_model_grid(
    model=DecisionTreeClassifier(),
    X_train=X_train,
    y_train=y_train,
    param_grid=param_grid,
    scoring="f1_macro"
)

In [ ]:
dt_analysis = ClassificationAnalysis(model=model,
                                     pred_funcs_dict={"Probabilities function":model.predict_proba,
                                                      "Predict function":model.predict},
                                     sample_data=X_train,
                                     model_name=repr(model).split("(")[0],
                                     project_name=f'{parent_project_name}/Classification Analysis',
                                     notebook_mode=True,
                                     df_features=df_features)

dt_analysis.perform_analysis(X=X_train,
                             y=y_train,
                             dataset_name="Training Data",
                             thresholds_matrix=[[.2,.2,.2,.2,.2,.2,.2,.2,.2,.2,.2],
                                               ])

In [ ]:
X_train

In [ ]:
os.path.exists("/Users/ericcacciavillani/Desktop/Coding/Python_Files/Artificial_Intelligence/Data Mining/eFlowMaster/Testing/eFlow Data/Pre processing/Supervised Analysis/DecisionTreeClassifier/Probabilities function/Thresholds")

In [ ]:
get_unique_directory_path(os.getcwd() + "/eFlow Data/Pre processing/Supervised Analysis/DecisionTreeClassifier/Test data/Probability Classification/",
                        "Model Results")

In [ ]:
error_string = os.getcwd().replace("/", "///")
error_string

In [ ]:
ab = "/Users/ericcacciavillani/Desktop/Coding/Python_Files/Artificial_Intelligence/Data Mining/eFlowMaster/Testing/eFlow Data/Pre processing/Supervised Analysis/DecisionTreeClassifier/Test data/Probability Classification"
correct_directory_path(ab)

In [ ]:
a=[[1,2],[1,2,3],[1]]
c = copy.deepcopy(a)
b=np.array(a)
b.tolist()
hhh = None
if hhh:
    print("test")

In [ ]:
bbb = None

if not bbb:
    print("test")
else:
    print("fff")

In [ ]:
vector_y = copy.deepcopy(y_test)
vector_y = np.where(vector_y==0, "Test", vector_y) 
vector_y = np.where(vector_y=='1', "Blarg", vector_y)
vector_y = np.where(vector_y=='2', "Dragon", vector_y)
vector_y

In [ ]:
skplt.metrics.plot_confusion_matrix(vector_y, vector_y)

In [ ]:
thresholds = [0, 0, 8.3, 0, 0, 0, 0, 0, 0, 0, .36]

model_output = model.predict_proba(X_train)

print(model_output)
# Validate probabilities
if thresholds:
    if isinstance(thresholds, list) or \
            isinstance(thresholds, np.ndarray):
        if sum(thresholds) < .98:
            print("Thresholds didn't add up to 98%-100%! "
                  "This may cause issues in your results!")
    else:
        raise ThresholdType

# ---
if isinstance(model_output, list):
    model_output = np.asarray(model_output)

if isinstance(model_output, np.ndarray):
    if thresholds:
        outputs_passed_threshold = model_output > np.asarray(thresholds)
outputs_passed_threshold

In [ ]:
!pip install warning

In [ ]:
import warnings
class UnExpectedData(UserWarning, ValueError):
    pass

In [ ]:
model_output

In [ ]:
model_output = model.predict_proba(X_train)
bool_matrix_thresholds = model_output < np.asarray([.2,.2,.2,.2,.2,.2,.2,.2,.2,.2,.2])

tmp_matrix = []
for bool_vector in bool_matrix_thresholds:
    tmp_vector = []
    for i,passed in enumerate(bool_vector):
        if passed:
            tmp_vector.append(model_output[i][0])
        else:
            tmp_vector.append(float("-inf"))
    tmp_matrix.append(tmp_vector)
print(tmp_matrix[1])

In [ ]:
import missingno as msno

In [ ]:
display(df.isnull().sum())

In [ ]:
ax = msno.bar(df[df.columns[df.isna().any()].tolist()],
              color="#072F5F")

In [ ]:
features = df.isnull().sum().index.tolist()
null_values = df.isnull().sum().values.tolist()
null_sorted_features, null_values = zip(*sorted(zip(null_values,
                                                    features)))

for feature_index, value in enumerate(null_values):
    if value == 0:
        break

In [ ]:
from eflow._hidden.utils.meta_data_identity import check_create_metadata_of_dataframe
testing_path = "/Users/ericcacciavillani/Desktop/Coding/Python_Files/Artificial_Intelligence/Data Mining/eFlowMaster/Testing/eflow Data/Pre processing/Missing Data/All Data"
check_create_metadata_of_dataframe(df,
                                   testing_path)

In [ ]:

import math
feature_name = "Feature_name"
for hash_type in [1,2,3,4,5,6,7,8,9,10]:
    result = 0
    for char_index, char in enumerate(feature_name):
        if hash_type == 1:
            result += int(ord(char))
        elif hash_type == 2:
            result += int(ord(char) + 62 * ord(char))
        elif hash_type == 3:
            result += int(ord(char) + 147 * ord(char))
        elif hash_type == 4:
            result += int((ord(char) + 92) * math.pow(ord(char), 3))
        elif hash_type == 5:
            result += int(ord(char) + 49 * math.pow(ord(char), 2))
        elif hash_type == 6:
            result += int((23 + ord(char) + 45) * (3 + ord(char) + 2))
        elif hash_type == 7:
            result += int((ord(char) * 5) + 32 + 8)
        elif hash_type == 8:
            result += int(math.pow(ord(char), 2))
        elif hash_type == 9:
            result += int(ord(char) * 2 + 32 + ord(char) * 2 + 5)
        elif hash_type == 10:
            result += int(ord(char) * 12 + 76 + math.pow(ord(char), 2))

In [ ]:
import numpy as np

In [ ]:
df["Ticket"][891]

In [ ]:
np.array([1,2,3]) % 3

In [ ]:
testing=[1,2,3]
for shit in df.columns:
    print(shit)