Find the markdown blocks that say interaction required! The notebook should take care of the rest!

# Import libs

In [1]:
import sys
import os
sys.path.append('..')
from eflow.foundation import DataPipeline,DataFrameTypes
from eflow.model_analysis import ClassificationAnalysis
from eflow.utils.modeling_utils import optimize_model_grid
from eflow.utils.eflow_utils import get_type_holder_from_pipeline, remove_unconnected_pipeline_segments
from eflow.utils.pandas_utils import data_types_table
from eflow.utils.sys_utils import get_all_directories_from_path
from eflow.utils.sys_utils import load_pickle_object

import pandas as pd
import numpy as np
import scikitplot as skplt
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import SCORERS
import copy
import pickle
from IPython.display import clear_output

In [2]:
# # Additional add ons
# !pip install pandasgui
# !pip install pivottablejs
# clear_output()

In [3]:
%matplotlib notebook
%matplotlib inline

## Declare Project Variables

### Interaction required

In [4]:
dataset_path = "Datasets/titanic_train.csv"

# -----
dataset_name = "Titanic Data"
pipeline_name = "Titanic Pipeline"

# -----


# -----
notebook_mode = True

## Clean out segment space

In [5]:
remove_unconnected_pipeline_segments()

# Import dataset

In [6]:
df = pd.read_csv(dataset_path)
shape_df = pd.DataFrame.from_dict({'Rows': [df.shape[0]],
                                   'Columns': [df.shape[1]]})
display(shape_df)
display(df.head(30))

   Rows  Columns
0   891       12

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S

In [7]:
data_types_table(df)

            Data Types
Features
Age            float64
Fare           float64
PassengerId      int64
Survived         int64
Pclass           int64
SibSp            int64
Parch            int64
Name            object
Sex             object
Ticket          object
Cabin           object
Embarked        object

# Loading and init df_features

In [8]:
# Option: 1
# df_features = get_type_holder_from_pipeline(pipeline_name)

In [9]:
# Option: 2
df_features = DataFrameTypes()
df_features.init_on_json_file(os.getcwd() + f"/eflow Data/{dataset_name}/df_features.json")

In [10]:
df_features.display_features(display_dataframes=True,
                             notebook_mode=notebook_mode)

         Data Types
Features
Embarked     string
Cabin        string
Sex          string
Survived       bool
Parch       integer
SibSp       integer
Fare          float
Age           float
Pclass     category

# Any extra processing before eflow DataPipeline

In [11]:
display({val[0] for val in set(df["Cabin"].dropna().values)})
df["Cabin"] = [val[0] if isinstance(val,str) else val for val in df["Cabin"]]
df["Cabin"]

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: Cabin, Length: 891, dtype: object

# Setup pipeline structure

### Interaction Required

In [12]:
main_pipe = DataPipeline(pipeline_name,
                         df,
                         df_features)

The file 'root_pipeline.json' exist!
Now configuring object with proper pipeline segments...
Removing the feature: "Ticket"
Removing the feature: "PassengerId"
Removing the feature: "Name"

In [13]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833     C        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000     C        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000     B        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000     C        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [14]:
main_pipe.perform_pipeline(df,
                           df_features)

In [15]:
df

,Survived,Age,SibSp,Parch,Fare,Embarked_Cherbourg,Embarked_Queenstown,Embarked_Southampton,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,0,22.0,1,0,7.2500,False,False,True,False,True,False,False,True
1,1,38.0,1,0,71.2833,True,False,False,True,False,True,False,False
2,1,26.0,0,0,7.9250,False,False,True,True,False,False,False,True
3,1,35.0,1,0,53.1000,False,False,True,True,False,True,False,False
4,0,35.0,0,0,8.0500,False,False,True,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,27.0,0,0,13.0000,False,False,True,False,True,False,True,False
887,1,19.0,0,0,30.0000,False,False,True,True,False,True,False,False
888,0,28.0,1,2,23.4500,False,False,True,True,False,False,False,True
889,1,26.0,0,0,30.0000,True,False,False,False,True,True,False,False
890,0,32.0,0,0,7.7500,False,True,False,False,True,False,False,True

# Seperate out data into train and test sets

In [16]:
X = df.drop(columns=df_features.target_feature()).values
y = df[df_features.target_feature()].values

In [17]:
feature_order = list(df.columns)

In [18]:
del df

In [19]:
from sklearn.ensemble import IsolationForest
clf = IsolationForest(n_estimators=20, warm_start=True)
clf.fit(X)  # fit 10 trees  
clf.set_params(n_estimators=20)  # add 10 more trees  
clf.fit(X)

/Users/ericcacciavillani/anaconda3/envs/eflow/lib/python3.8/site-packages/sklearn/ensemble/_bagging.py:352: UserWarning: Warm-start fitting without increasing n_estimators does not fit new trees.
  warn("Warm-start fitting without increasing n_estimators does not "

IsolationForest(n_estimators=20, warm_start=True)

In [28]:
clf.score_samples(X).max()

-0.3544744705913975

In [25]:
from sklearn.covariance import EllipticEnvelope
cov = EllipticEnvelope(random_state=0,assume_centered=True).fit(X)

/Users/ericcacciavillani/anaconda3/envs/eflow/lib/python3.8/site-packages/sklearn/covariance/_robust_covariance.py:647: UserWarning: The covariance matrix associated to your dataset is not full rank
  warnings.warn("The covariance matrix associated to your dataset "

In [37]:
clf.score_samples

In [50]:
from sklearn.svm import OneClassSVM
one_svm = OneClassSVM(gamma='auto').fit(X)
one_svm.decision_function.__code__.co_varnames

('self', 'X', 'dec')

In [61]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler

for model in [cov,clf,one_svm]:
    for i in [-1,1]:
        if i == 1:
            print("Inner")
        else:
            print("Outlier")

        tmp_stuff = model.decision_function(X)[model.predict(X) == i].reshape(1,-1)
        print(model)
        print(tmp_stuff)
        print()
        print("Max:{0}\nMin:{1}\n".format(tmp_stuff[0].max(),tmp_stuff[0].min()))

Outlier
EllipticEnvelope(assume_centered=True, random_state=0)
[[-3.42913241e+02 -2.12382402e+01 -3.30657042e+02 -3.94949929e+02
  -2.69468717e+01 -1.31616539e+00 -7.15979143e+01 -2.92785235e-01
  -4.21656058e+01 -6.15932141e+01 -5.77325955e+01 -3.79174752e+02
  -4.11397465e+02 -2.46856798e+01 -2.84193263e+02 -3.33255263e+00
  -1.80430272e+02 -2.05378720e+01 -2.69753077e+02 -3.15995130e+01
  -5.50404039e+01 -2.84193263e+02 -2.39270988e+01 -2.43282365e+03
  -3.28784305e+01 -7.55401605e+01 -1.82806642e+01 -1.96581362e+01
  -8.12639648e+01 -4.10129758e+02 -9.09312345e+01 -4.12233263e+02
  -1.40870514e+02 -1.07320396e+01 -2.84193263e+02 -2.33338202e+01
  -7.17432262e+01 -2.16807798e+01 -3.79216862e+02 -1.85404112e+02
  -2.44698252e+01 -3.05142831e+02 -3.13697968e+02 -7.33352860e+01
  -2.64895230e+01 -2.13096133e+01 -5.08132021e+01 -6.62612196e+02
  -1.32953426e+01 -7.17631845e+01 -7.43218726e+01 -2.89469775e+02
  -4.48897516e-01 -2.33783358e+01 -2.32097887e+01 -4.75840448e+01
  -3.15992633e+02 -1.93514151e+02 -1.15455278e+00 -5.98306261e+01
  -3.31379516e+02 -3.63725945e+02 -6.06389817e+01 -5.27165793e+02
  -2.43563400e+03 -7.15208256e+01 -2.84217094e-14 -2.50051287e+02
  -2.75156145e+02 -5.68114128e+01 -3.12820167e+02 -2.43903820e+02
  -6.36435637e+01 -2.44840745e+03 -4.12220036e+02 -2.01091885e+01
  -6.18117461e+01 -2.49086181e+02 -1.94104420e+01 -2.69753077e+02
  -2.96534618e+01 -2.38019730e+01 -2.93954928e+00 -3.68909393e+00
  -2.84193263e+02 -3.26652585e+01 -6.90026166e+01 -8.29938886e+01
  -2.69753077e+02 -3.79922159e+02]]

Max:-2.842170943040401e-14
Min:-2448.407446037261

Inner
EllipticEnvelope(assume_centered=True, random_state=0)
[[82.15526161 67.99257465 84.22725053 78.41122843 88.01247082 79.34178351
  79.5779394  30.01621359 18.596793   69.20058358 69.60672131 71.85779612
  87.62857188 82.32004665 77.14848924 84.9401096  80.8887437  76.32551576
  83.43413481 85.32163296 77.61441236 81.63751479 35.93155638 81.19927827
  79.05275045 88.47114614 75.04996672 79.04983609 73.46258444 63.49313251
  80.28117187 81.19940861 87.81359382 63.61793635 72.0156313  77.7447281
  79.82416682 81.21499393 14.34704325 78.46429879 88.47103268 73.73112397
  79.04983609 58.07203358 80.6304174  87.81269168 62.54357406 80.09077246
  40.15216054 81.63751479 81.47890457 81.16531262 27.73680604 81.16443784
  63.95293409 67.60021075 74.47600429 62.45677858 82.78748044 87.42082302
  62.11284484 85.19976237 42.34934944 76.30017899 61.35211822 88.32454132
  88.47114614 88.47103268  9.1955956  84.08706462 87.96581808 88.44556604
  79.05072122 81.65067075 80.27800403 29.49630736 88.47103268 88.23200648
  88.47385042 87.62789549 78.44790287 25.44607405 77.97397459 88.47103268
  62.92468199 51.24303904 69.8548451  80.37263183 84.22441142 88.47114614
  49.56803706 88.25028947 60.36483294 88.47114614 83.81911539 88.47085593
  87.47514106 74.79163278 81.3781747  72.65607004 87.97584023 79.86521345
  76.022609   87.81332106 58.82465799 80.36459239 42.91328513 88.47103268
  71.54438208 83.09284461 47.61985844 74.38479418 79.36051961 88.2231711
  62.75175031 85.41944573 80.61626131 87.61594029 75.68878652 80.09077246
  84.44187834 76.34774423  2.8538569  80.45670186 86.64878673 60.18186464
   5.88962587 83.94878609 81.10467747 78.43384039 82.43808026 69.13031519
  88.44521831 26.46293486 15.96288157 84.55490136 81.94886699 74.10409468
  80.24968851 13.42852093 88.46666629 48.72637498 77.85405677 88.45389263
  88.46522316 66.74923196 82.42525081 88.39663844 86.93417259 15.49016309
  62.02204262 79.31297545 61.56750184 77.46675572 67.1032183  87.81332106
  71.54310246 70.6866402  34.99119993 67.83532731 85.15838615 87.16636724
  76.90173013 52.63289993 16.41096251 81.17410797 75.0636017  80.69338043
  56.71891523 87.85654628 83.09420045 82.83047663 79.24311281 63.95450433
  69.2080245  79.36051961 67.81106829 79.04983609 82.34152606 88.44342174
  88.12695084 76.61809314 87.19020143 64.76297607 83.37524888 80.12324387
  77.85455435 75.97734689 88.22123267 82.64470887 87.9683039  85.15838615
  72.85300555 31.14426175 84.23784787 79.2130603  61.05374424 85.0702657
  86.66072888 84.79680804 82.7736328  88.47114614 62.97506884 87.95693349
  82.72958396 87.71583613 82.48219534 38.21129699 67.6118317  88.47380139
  78.07957011 84.13516308 84.20803061 78.80397373 18.0734027  82.72958396
  85.3051249  72.89691688 75.0636017  84.97135407 87.9658069  81.02873489
  38.77606069 84.18699817 20.88087387 67.61808784 74.95776313 88.46572569
  71.33425427 75.27609351 83.56411298 14.1322223   5.61175631 58.48995029
  57.50419715 64.43911059 79.36051961 56.39308119 64.17020399 79.04983609
  85.18544941  0.17106753 82.5312507  80.80565114 87.59530717 68.64347807
  52.94840164 79.04983609 62.45558902 80.52753477 82.91214382 71.56488639
  63.79964976 88.4710838  86.64119926 87.42077442 79.33931399 80.61986638
  88.4249348  87.97552399 84.55490136 78.86215467 63.60217294 53.99448302
  76.61107226 84.16923517 88.23183347 74.47600429 81.25004793 80.6846932
  79.04983609 55.12565825 86.66772263 73.68913896 88.47103268 21.47572753
  34.55088006 72.17075922 71.01656593 54.45214863 73.9921722  88.47114614
  69.00642492 84.22410028 79.6407787  80.65590239 87.9683039  88.44548126
  73.80523695 73.77762513 76.53335485 82.92392504 72.60532859 50.96063528
  58.10129723 81.22741191 64.0374539   3.21402109 88.47114614 76.8923135
  85.42146281 82.73168948 63.36127893 84.9401096  84.44187834 85.26660321
  82.34152606 82.38924123 81.06883767 67.93275007 86.4281161  88.09935267
  81.56790841 60.94565725 83.6429052  81.19927827 88.44342174 60.83296179
  82.70213419 79.05275045 79.05275045 71.99592481 53.02930114 88.00680589
  73.73112397 88.44932875 57.69428719 76.32582419 79.04983609 64.66630761
  73.44424882 81.30908871 87.42077442 34.40692    62.41723671 83.92116376
  80.74087223 87.41944817  4.80551859 88.34601633 78.40722452 88.47114614
  41.45712872 82.92392504 79.36089676 72.61891085 87.81266434 61.73866888
  30.36439627 19.30051584 87.97502882 84.04949615 81.68713645 83.89959831
  82.88115232 87.25014615 88.39707063 79.97937043 83.64396599 83.71344813
  80.44595663 82.77655906 63.23309413 87.81252302 38.21129699 88.47114614
  79.36782609 52.01171621 82.91214382 85.78411598 84.23083617 73.23362616
  20.05990798 85.15838615 17.81357954 81.21499393 78.79728639 88.47401892
  72.4056709  72.66151738 88.46572569 80.04632476 79.90734363 79.36051961
  88.34565048 79.52854062 81.06883767 78.59601979 86.92467154 78.44319206
  26.86347435 85.1464018  70.27364324 87.60634849 82.5312507  82.90006745
  88.47083215 67.72996464 80.69125288 50.77377251 80.37199956 24.54887901
  83.61359372 74.80889647 55.69043747 88.47103268 81.14079846 73.63683594
  77.70057663 79.28734471 79.36051961 80.21567465 88.14630623 82.69902562
  83.02328061 88.47103268 87.47003983 82.91214382 77.93966945 79.36097171
  49.41086967 88.46572569 87.46565719 30.46880789 73.94143913 84.00247137
  80.73361171 80.44595663 82.3818482  87.9724903  64.85457466 82.91214382
  83.27187662 69.46337299 55.90918416 38.21129699 62.54439628 70.33406501
  88.45389263 70.32191793 83.61359372 87.80568594 79.41050409 62.5998976
  87.81359382 80.8270567  59.46513248 87.88626206 88.23143119 86.93417259
  78.7511601  79.04676658 83.12376354 53.15976385 34.43102412 20.50720893
  79.52854062 86.04391889 61.5385405  79.34991501 88.47103268 80.80814326
  66.29616934 88.22885498 82.21828179 82.86513579 75.99003479 79.76419166
  88.34605041 50.02210814 87.97552399 81.19927827 51.12398764 81.19940861
  77.59097126 79.28734471 87.25014615 53.35266541 66.94871567 81.19940861
  61.14042058  5.5870202  84.15762913 17.68100493 80.69338043 28.24390588
  87.98019211  5.01566997 80.41305715 36.91412907 74.02600002 78.62139682
  76.91460011 71.94512809 65.41559485 82.97373916 79.35899317 81.16429579
  83.95001743 75.27609351 67.21797483 61.74003566 79.93849779 79.36051961
  87.00263374 84.94108095 88.47103268 84.23083617 65.93166285 87.42024332
  81.19940861 88.34606535 76.20996041 59.18926206 80.84203391 79.04983609
  86.66072888 86.95689482 83.05461379 78.19064799 72.89744397 88.34601633
  73.97384936 25.21239401 78.68565228 77.46244736 81.22026467 83.28749171
  42.61372358 87.97584023 88.47103268 88.00802243 60.42197463 84.63170746
   7.1630987  80.14117741 71.04790886 79.33646917 83.10645631 81.19927827
  71.70146598 63.46267032 88.47114614 82.01541387 85.78305347 74.81610393
  82.73033108 88.45414932 80.41302804 17.42703239 88.46211664 75.0636017
  79.36051961 88.01247082 18.81704748 71.26093998 81.1424343  59.67537277
  84.53796605 76.23627749 80.26134059 63.23471565 87.81300837 87.0801862
  77.25770408 65.67836669 62.80315803 88.39704086 79.3608232  63.31201993
  82.77543928 75.84389388 62.51672655  7.70537246 82.90006745 88.34601633
  71.31818087 83.6531527  87.62789549 64.66630761  6.16157854 61.56750184
  49.41086967 64.98200521 87.42024332 72.45626121 88.46942753 84.04029545
  88.47114614 68.99443789 87.81220692 79.05166779 78.24143601 43.40725975
  88.47114614 63.06579735 83.99584653  0.93344302 78.80948651 80.07050165
  87.85579711 82.02819776 43.72240228 84.44187834 88.47085593 86.12186861
  77.70346587 70.65987543 80.01179476 70.35080008 85.23336114 82.91214382
  87.18874746 88.28181334 83.37148691 79.05743473 62.8615587  87.6142506
  58.06575315 11.60426442 87.37302071 87.18891777 79.60475581 57.33607543
  61.56750184 81.28427689 76.25505426 81.54208764 85.78305347 79.04943159
  19.38907624 86.43968145 80.71672583 60.17385266 79.25582037 82.58804612
  83.11772003 81.22666113 80.87836182 62.45677858 71.65423289 79.52854062
  79.26655306 88.44616494 81.54668961 87.41827476 82.59698962 78.53275556
  88.25782798 62.44303986 81.22784937 85.32163296 82.33053616 79.19202383
  87.62503814 29.43169948 79.04953392 79.83711672 79.74733413 77.89572597
  82.91214382 83.99584653 83.99584653 87.71384007 88.47114614 88.47114614
  80.55802954 71.53293306 83.55792585 88.41146711 49.4280004  72.37091834
  83.042685   76.54044361 79.26037924 67.75790439 67.06072888 88.22638796
  88.11506649 11.45113629 60.82251406 88.47092964 82.43808026 88.14630623
  57.85437126 87.98019211 86.72930158 80.97057672 86.65901946 68.36313037
  76.73592267 78.88604673 73.09238817 88.34317571 88.20708932 84.20190754
  75.88863134 81.19927827 87.18852969 79.36051961 78.75046847 79.36074744
  75.26849186 74.18025853 80.8071514  25.25466277 88.31561695 88.31950466
  83.30010554 21.84628727 60.20706516 79.36051961 79.96065278 75.34426258
  88.32582493 85.01324215 74.83188271 84.07728719 81.02886134 72.8308648
  85.32163296 73.81916223 56.52350808 88.43443535 88.41136574 64.1576796
  83.31518575 85.01324215 78.32505393 88.39702386 84.16898096 85.22319094
  88.43537292 62.51672655 84.05880536 59.26863624 86.1077946   1.05246398
  47.8912055  88.43991437 64.12237967 69.8740535  79.36791185 61.56750184
  79.36051961 56.71444704 72.73901075 61.90957577 81.19940861 88.11490755
  87.19002547 50.83931175 87.8097756  88.47103268 61.35211822 75.07612753
  87.62824106 81.61293019 71.10623766 80.28274282 86.93417259 86.43955418
  80.21733959 66.44735593 57.3315006  65.03367862 62.03689419 59.00259233
  78.02442496 69.54210569 79.53298914 81.19940861 61.41271607 77.56011244
  75.07421019 84.2302502  81.98524618 69.81073205 81.72390097 88.44342174
  67.53895094 88.39704086 66.12190169 68.02595202 84.60890221 71.32362858
  75.70521754 87.59396222 87.42024332 88.47114614 31.91406623 69.67752106
  88.25783766 83.99849494 84.84966693 88.31561695 84.79680804 73.62755074
  28.53828638 74.74688871 79.18144806]]

Max:88.47401892163435
Min:0.1710675286743708

Outlier
IsolationForest(n_estimators=20, warm_start=True)
[[-2.92991230e-02 -5.25922427e-03 -1.24276165e-03 -2.73617785e-03
  -1.24247163e-01 -4.01588784e-03 -2.18220179e-02 -2.70266753e-02
  -2.50000513e-02 -1.43578857e-01 -7.71125820e-02 -6.31137395e-02
  -2.45341708e-02 -9.01000774e-02 -1.39400067e-01 -3.03309380e-02
  -1.25106727e-02 -5.39175332e-02 -1.87711200e-03 -9.01647629e-03
  -5.41298603e-02 -8.26019830e-03 -6.44276410e-02 -1.74128594e-01
  -5.04815969e-02 -6.37218560e-02 -1.87711200e-03 -7.58409438e-02
  -5.11579862e-03 -3.46982219e-02 -1.08175052e-01 -6.62568233e-02
  -4.86958500e-02 -1.32073150e-02 -4.30259893e-02 -7.23427852e-03
  -8.35325645e-02 -4.59043625e-02 -6.37820144e-02 -5.54012724e-02
  -8.61942913e-02 -1.75567121e-02 -1.30489063e-02 -1.32033888e-01
  -1.67327442e-02 -6.43845947e-02 -7.02000694e-02 -1.04795456e-02
  -4.20589913e-02 -1.03834728e-01 -5.91204882e-02 -7.69252605e-02
  -1.06446714e-01 -9.66726255e-02 -3.98097418e-02 -4.81511607e-02
  -1.13220879e-01 -6.71281004e-02 -6.95379144e-02 -1.03954412e-01
  -1.91689374e-02 -1.01374893e-01 -5.49450877e-02 -3.86003496e-02
  -1.11627792e-01 -3.45648379e-02 -1.97127047e-02 -3.74557805e-02
  -6.79440708e-02 -5.01349236e-03 -1.19333075e-02 -9.19364622e-02
  -3.47068396e-02 -1.34753943e-01 -9.72282217e-03 -1.11194854e-02
  -7.16851687e-03 -7.45111548e-02 -3.64296649e-03 -1.43578857e-01
  -1.32600369e-02 -2.10959093e-02 -4.60868083e-02 -1.12640846e-01
  -8.88310400e-02 -4.52485289e-02 -6.93615133e-02 -5.07626347e-02
  -8.17310509e-02 -1.01452936e-01 -1.81616108e-02 -4.60868083e-02
  -1.01606854e-01 -1.87711200e-03 -1.34753943e-01 -4.38740332e-02
  -4.29749374e-03 -3.23347825e-02 -3.47068396e-02 -9.41207501e-03
  -3.89152537e-02 -4.14451820e-02 -2.16474421e-02 -9.39804063e-03
  -4.20191176e-02 -6.46729357e-02 -6.73196773e-02 -8.17310509e-02
  -1.68325713e-01 -6.47382810e-02 -2.69796763e-02 -3.41744978e-03
  -2.27817859e-02 -1.11627792e-01 -2.36096751e-02 -1.05634822e-01
  -4.24030695e-02 -4.34071069e-02 -6.59552066e-02 -1.87711200e-03
  -7.30133377e-02 -1.74766361e-02 -1.56555534e-03 -6.47258213e-02
  -1.87711200e-03 -5.24204338e-02 -1.45759727e-01 -1.06446714e-01
  -2.62419364e-02 -2.57385182e-02 -4.75166222e-02 -9.91762404e-02
  -7.23427852e-03 -1.08946714e-01 -1.05032873e-01 -1.87711200e-03
  -7.63241369e-02 -1.24179048e-01 -1.09823334e-01 -3.35073532e-02
  -5.87434431e-02 -1.13220879e-01 -1.79203190e-02 -3.69098597e-02
  -1.54907108e-01 -2.47210207e-03 -3.29162578e-03 -9.32054338e-02
  -9.18754829e-02 -1.32682673e-01 -8.15941190e-03 -1.34753943e-01
  -4.29451532e-02 -8.42606428e-02 -1.13017942e-01 -6.05408211e-02
  -3.05508097e-02 -5.96315628e-03 -4.90905636e-02 -2.67362788e-02
  -1.32033888e-01 -8.33082611e-02 -7.28038484e-03 -3.03309380e-02
  -3.03309380e-02 -2.88125896e-02 -1.10624105e-01 -9.73142717e-02
  -6.37218560e-02 -7.10484703e-02 -7.67078252e-02 -1.87711200e-03
  -3.18614488e-02 -5.46119710e-02 -6.36029653e-02 -3.83891428e-02
  -2.96076014e-02 -1.04801511e-01 -6.40218947e-05 -8.59123376e-02
  -1.36967792e-01 -7.10996815e-02 -1.35838300e-01 -8.49157584e-02
  -5.06814359e-02 -5.71935357e-03 -2.43008675e-02 -8.70846490e-04
  -1.21269740e-01 -1.51408302e-02 -6.28310379e-02 -2.23480457e-02
  -5.92730030e-03 -1.62431434e-02 -1.31256639e-02 -7.60535774e-02
  -2.63916289e-02 -1.00470024e-01 -1.70124199e-01 -2.03955079e-02
  -8.39649436e-02 -4.49123769e-03 -1.08481297e-01 -4.36210823e-02
  -7.23427852e-03 -6.49249994e-02 -9.11545968e-03 -8.76218930e-03
  -1.25173761e-01 -4.74852954e-02 -1.23062414e-01 -4.65143006e-03
  -6.49365246e-02 -3.16929035e-02 -6.49313608e-02 -3.64170278e-02
  -6.62971023e-02 -3.11619423e-02 -5.28647395e-02 -9.42788484e-02
  -2.57385182e-02 -1.07470201e-02 -8.86924352e-02 -6.57021338e-02
  -5.09975959e-02 -5.73156329e-02 -7.41265806e-02 -3.69871501e-02
  -8.76218930e-03 -4.99041809e-02 -6.28270489e-02 -5.41548136e-02
  -7.93749982e-02 -1.11627792e-01 -6.69840736e-02 -2.87562185e-02
  -9.06346155e-02 -4.83963968e-02 -3.79866877e-02 -1.46990846e-02
  -8.57615585e-02 -6.58076659e-03 -9.95159731e-04 -8.88310400e-02
  -2.22587404e-02 -1.05817015e-01 -3.41744978e-03 -4.32799557e-02
  -6.70457355e-02 -1.95493829e-02 -6.85314531e-02 -7.29741774e-03
  -4.05287991e-02 -1.87711200e-03 -6.73196773e-02 -1.43265253e-02
  -8.74721394e-02 -1.42473972e-02 -1.05512690e-03 -4.86183735e-02
  -1.24169211e-01 -3.83281830e-02 -8.59997620e-02 -9.50011189e-03
  -6.19980401e-02 -2.08651704e-02 -8.95312311e-03 -1.65067912e-01
  -3.58688388e-02 -9.01000774e-02 -8.17310509e-02 -5.84956597e-02
  -7.12391659e-02 -5.54012724e-02 -8.26019830e-03 -9.01373700e-02
  -3.64296649e-03 -1.46913584e-01 -1.89715372e-02 -5.87603404e-03
  -2.61822039e-02 -1.18041959e-01 -3.18614488e-02 -3.46272583e-02
  -1.25173761e-01 -6.30171257e-02 -2.64113317e-02 -9.63728462e-03
  -2.10703029e-02 -4.17195985e-02 -5.50470143e-02 -1.24611495e-01
  -1.23185900e-01 -8.64539461e-02 -4.38740332e-02 -5.26183895e-02
  -2.04371701e-02 -1.30393437e-02 -1.22599906e-01 -1.02758966e-01
  -3.70227906e-02 -2.11657524e-02 -5.09415956e-02 -5.82283687e-02
  -1.54706627e-01 -7.13796062e-02 -1.01671186e-01 -5.84355545e-03
  -1.19525614e-01 -9.14122359e-02 -8.32192081e-02 -3.99322815e-02
  -8.35325645e-02 -3.18614488e-02 -1.31256639e-02 -8.59123376e-02
  -4.51290044e-02 -5.58122860e-02 -9.72975180e-03 -5.84355545e-03
  -6.16202679e-02 -5.50032931e-02 -5.59839763e-02 -8.68356279e-02
  -9.39804063e-03 -1.52695346e-01 -1.02863521e-01 -8.64211195e-03
  -3.51416421e-02 -7.47435986e-02 -3.68082058e-02 -7.09235484e-02
  -1.25106727e-02 -1.39448015e-02 -7.82771035e-02 -1.69082323e-02
  -1.03940925e-01 -4.00413167e-03 -6.84153689e-02 -8.04345203e-02
  -6.72481145e-03 -1.45759727e-01 -2.13095177e-02 -2.76306056e-02
  -1.12640846e-01 -4.16758145e-03 -7.03983486e-03 -8.35856275e-02
  -8.81732716e-02 -3.98097418e-02 -1.30043364e-01 -2.52439396e-02
  -3.75966787e-02 -4.22202818e-03 -8.70846490e-04 -1.73139295e-01
  -4.57842774e-02 -5.91204882e-02 -4.38176727e-02 -7.72137050e-02
  -3.81398448e-03 -2.73383381e-02 -2.92920397e-02 -1.34753943e-01
  -3.98710213e-02 -5.06190806e-04 -2.99793014e-02 -4.34071069e-02
  -9.58369118e-02 -1.30221180e-02 -7.24068238e-04 -7.50293848e-02
  -1.19960422e-01 -1.12640846e-01 -1.14436102e-01 -1.87144121e-02
  -1.12361018e-01 -8.04345203e-02 -8.77044870e-02 -1.11357027e-02
  -1.89557856e-01 -4.16758145e-03 -1.35727048e-02]]

Max:-6.402189473775355e-05
Min:-0.18955785552726967

Inner
IsolationForest(n_estimators=20, warm_start=True)
[[0.12879111 0.06406435 0.01494968 0.13974907 0.00177405 0.1356907
  0.04613788 0.08914358 0.05538443 0.05990137 0.08219679 0.04743578
  0.02098657 0.144549   0.02132253 0.14225734 0.01854702 0.03381056
  0.00976204 0.01018488 0.144549   0.04041323 0.14225734 0.00956309
  0.04743578 0.01752084 0.02132253 0.00695524 0.02004604 0.02657446
  0.13131346 0.0930953  0.08114594 0.00382356 0.04597554 0.14552553
  0.144549   0.144549   0.06067588 0.14031799 0.13932712 0.03678837
  0.01370586 0.03016995 0.144549   0.14552553 0.144549   0.1356907
  0.02066443 0.09272392 0.144549   0.04955963 0.06513254 0.144549
  0.14340886 0.07260135 0.144549   0.06544076 0.144549   0.12984416
  0.01413491 0.14552553 0.04199419 0.14225734 0.06235067 0.144549
  0.03847868 0.0174801  0.14552553 0.10839149 0.13058141 0.04223392
  0.00956309 0.08914358 0.01553246 0.12589714 0.06544076 0.04807352
  0.08061528 0.144549   0.06958828 0.04304737 0.10662026 0.144549
  0.144549   0.144549   0.05800727 0.0133552  0.144549   0.13131346
  0.05541889 0.05560937 0.14225734 0.07639769 0.02938348 0.08914358
  0.11792541 0.04009797 0.03971061 0.13974907 0.04003733 0.08337266
  0.04044217 0.0174801  0.08518318 0.02912082 0.13932712 0.1304524
  0.13131346 0.11462694 0.14552553 0.01367439 0.14552553 0.08914358
  0.06513254 0.04502891 0.08642439 0.13131346 0.08914358 0.10662026
  0.144549   0.14031799 0.08061528 0.13951973 0.08337266 0.01609064
  0.01376973 0.144549   0.02369353 0.08642439 0.06690515 0.04502891
  0.08061528 0.08048677 0.08642439 0.14552553 0.01288738 0.06406435
  0.02265855 0.144549   0.05441503 0.11462694 0.01788658 0.0174801
  0.01933204 0.07208817 0.01106201 0.12905146 0.05267883 0.1240518
  0.05297074 0.05499589 0.03954708 0.144549   0.12589714 0.13131346
  0.05541889 0.13932712 0.14552553 0.06958828 0.01196822 0.06406435
  0.14552553 0.00695524 0.05267883 0.10650606 0.144549   0.144549